
/******TAG SELECTORS****/

:root{
    --cardbg :#eee;
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue :hsl(245, 75%, 52%);
    --very-plaeblue:hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223 , 47% ,23%);
}

html{
    height:100%;
    width:100%;
}

body{
    font-size: 1em;
    background-color: var(--pale-blue);
}

section{
    font-family: 'Red Hat Display', sans-serif;
}

h1{
    color:var(--Dark-blue);
    font-size: 1.5rem;
    font-weight: 900;
    margin:0.9em auto 0.3em;
}
/******CLASS   SELECTORS****/

.card-image{
    width: 100%;
    border-top-left-radius: 0.9em; 
    border-top-right-radius: 0.9em;
}

.cardholder{
    background-color:var(--cardbg);
    border-radius: 0.9em;
    position: relative;
    left:auto;
    display: inline-block;
    width:auto;
    height:auto;
}

.payment-info{
    color:var(--Desaturated-blue);
    display: inline-block;
    width:50%;
    margin:auto;
    font-size: 100%;
    font-weight: 700;
    line-height: 2;
    padding: 1em;
}

.payment{
    display:flex;
    background-color: vars(--pale-blue);
    border-radius: 0.9em;
    height:auto;
    width:50%;
    margin:1em auto ;
    padding: 2em;
    position: relative;
    text-align: left;
}

.music-icon{
    position:relative;
    right:0.5em;
}

.music-icon-box{
    display: block;
}

.cancel-link{    
    position: absolute;
    right:2em;
    top: 4.3em;
}

.anual-plan{
    position:relative;
    left:2em;
    top:1em;
}

.payment-button{
    position: relative;
    margin:1rem auto;
}

.btn{
    background-color:var(--bright-blue);
    border:none;
    border-radius: 0.9em;
    box-shadow: 0em 0.2em 0.8em 0 var(--Desaturated-blue);
    color:var(--pale-blue);
    display:block;
    margin:1.5rem auto;
    width:50%;
    height:2.5em;      
}

.cancel-order{
    text-decoration: none;
}

.wave{
    position: absolute;
    top:0;
    left:0;
    right:0;
}

.plan{
    padding:0.5em;
}

.footer{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
}
/***PSUEDO CLASSESS***/

.payment p{
    margin:auto;
}

.payment h3{
    margin:0;
}